section {
    display: flex;
    background-color: rgb(94, 195, 195);
    flex-flow: column wrap;
}
header {
    background-color: blueviolet;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
article {
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
button:first-child {
order: 1;
}
div {
    background-color: aquamarine;
}
.container {
    display: grid; 1/4;
    background-color: blue;
    grid-template-columns: 60% 40%;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: 50px;
}
.one {
    grid-column:1/4 ;
    grid-area: areaName;
}
/* Set the background color of body to tan */
body {
    background-color: tan;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }
  /* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }